<div class="mdl-grid">
	<div class="mdl-cell mdl-cell--3-col">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label" for="title">Titel der Umfrage</label>
			 <input class="mdl-textfield__input" type="text" id="title">
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label" for="description">Beschreibung</label>
			<input
				ng-model="description" type="text" class="mdl-textfield__input"
				id="description">
		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label" for="startDate">Startdatum</label>
			<div>
					<input ng-model="startDate" type="date"  class="mdl-textfield__input" id="startDate">
			</div>

		</div>
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<label class="mdl-textfield__label" for="endDate">Enddatum</label>
			<input ng-model="endDate" type="date" class="mdl-textfield__input" id="endDate">
		</div>
		<div class="mdl-card__actions mdl-card--border">
			<button
				class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
				id="createSurvey" name="createSurvey"
				ng-click="createSurveyClicked()">Umfrage erstellen</button>
		</div>
	</div>
</div>
