body{
	font-family: 'Raleway', sans-serif;
	font-size:20px;
}

#header-logo{
	display:block;
	margin: 5px auto;
	width:70px;
}

header p{
	text-align: center;
	font-size: 18px;
	margin: 0;
}

#log-in_container {
      margin: auto;
      width: auto;
      padding: 128px;
    }

