<div id="log-in_container" class="container">
		<form class="form-horizontal" ng-submit="login();" name="logInForm">
			<fieldset>

				<!-- Form Name -->
				<legend>Sign In</legend>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="Email">Email</label>
					<div class="col-md-4">
						<input id="email" name="email" type="email" required
							placeholder="example@email.com" class="form-control input-md"
							ng-model="email" ng-blur="upper();">

					</div>

				</div>



				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="passwordinput">Password
					</label>
					<div class="col-md-4">
						<input id="passwordinput" name="passwordinput" type="password"
							required placeholder="***" class="form-control input-md"
							ng-model="passsword">
					</div>
				</div>

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="signin"></label>
					<div class="col-md-4">
						<button id="signin" name="signin" class="btn btn-primary">Sign
							In</button>
					</div>
				</div>

			</fieldset>
		</form>
	</div>