<div>
	<div class="back-btn">
		<a ng-href="#/chart/:link" class="mdl-button mdl-js-button mdl-button--fab">
		  <i class="material-icons">arrow_back</i>
		</a>
	</div>
	
	<div class="finishContent">
		<p style="margin-left: 300px;margin-right: 300px;"> 
			Vielen Dank! Forschungen haben gezeigt, dass berufliches Glück 
		    stark durch das Empfinden von Sinnhaftigkeit des eigenen Tuns beeinflusst wird. 
		    Selbstverwirklichung, also eigene Ideen einzubringen und persönliche Fähigkeiten 
		    einzusetzen, ist für viel Menschen eine Quelle von Glück. Zu guter Letzt sehnen 
		    sich Menschen danach Dinge gemeinsam zu tun, in einer Gruppe die zusammenhält  – einer Gemeinschaft. 
		    Diese drei Bereiche werden Ihnen deshalb gesondert dargestellt.  Haben Sie noch Fragen? Schreiben Sie uns!
	    </p>
	    <a style="color:green;">diegluecklicheorganisation@gmail.com</a>
	</div>
	
	<div class="finishContent" style="margin-top:2%;">
		<input placeholder="E-Mail">
		<button ng-submit="" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Bestätigen</button>
	</div>
	
	<div class="finishContent" style="margin-top:5%;">
		<p>Hier können Sie ihr Feedback abgeben:</p>
		<input id="input2">
	</div>

	<div class="finishContent" style="margin-top:2%;">
		<button ng-click="" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Zur Auswertung</button>
	</div>
</div>