<div>
	<div class="back-btn">
		<a ng-href="" class="mdl-button mdl-js-button mdl-button--fab">
		  <i class="material-icons">arrow_back</i>
		</a>
	</div>
	
	<div class="finishContent">
		<p>Sie haben die Umfrage erfolgreich abgeschlossen.</p>
		<p>Vielen Dank für die Teilnahme.</p>
	</div>
	
	<div class="finishContent">
		<input placeholder="E-Mail">
		<button ng-submit="" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Bestätigen</button>
	</div>
	
	<div class="finishContent" style="margin-top:5%;">
		<p>Hier können Sie ihr Feedback abgeben:</p>
		<input id="input2">
	</div>

	<div class="finishContent" style="margin-top:2%;">
		<button ng-click="" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Zur Auswertung</button>
	</div>
</div>