<form action="javascript:void(0)" ng-submit="processInput()">
<div id="greetingCard" ng-hide="status>0">
<!-- Greeting card is shown at the beginning -->
	<div class="mdl-card mdl-shadow--2dp">
		<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
			<h2 class="mdl-card__title-text" type="text">{{survey.name}}</h2>
		</div>
		<p class="contentText" type="text">{{survey.intro}}</p>
		<p class="contentText" type="text">{{survey.beschr}}</p>


	</div>
</div>
		
<div ng-show="status==1" ng-repeat = "q in curQuestions">
	<div class="mdl-card mdl-shadow--2dp">
		<div ng-if="q.newGroup" class="mdl-card__title mdl-color--primary mdl-color-text--white">
			<h2 class="mdl-card__title-text">{{q.gi}}/{{q.gm}}: {{q.groupName}}</h2>
		</div>
		<p class="contentText">{{q.qi}}/{{q.qm}}: {{q.text}}</p>
		<p class="contentText">{{q.info}}</p>

		<!-- Lineare Skala -->
		<div ng-if="q.type == 1">
			{{q.optionen[0].text}}
			<input type="radio" value="1" ng-model="participant[q.id]">
			<input type="radio" value="2" ng-model="participant[q.id]">
			<input type="radio" value="3" ng-model="participant[q.id]">
			<input type="radio" value="4" ng-model="participant[q.id]">
			<input type="radio" value="5" ng-model="participant[q.id]">
			<input type="radio" value="6" ng-model="participant[q.id]">
			<input type="radio" value="7" ng-model="participant[q.id]">
			<input type="radio" value="8" ng-model="participant[q.id]">
			<input type="radio" value="9" ng-model="participant[q.id]">
			<input type="radio" value="10" ng-model="participant[q.id]">
			{{q.optionen[1].text}}
		</div>

		<!-- Multiple-Choice -->
		<div ng-if="q.type == 2">
			<div ng-repeat="o in q.optionen | orderBy: 'orderIndex'">
				<label><input type="checkbox" ng-model="participant[q.id].multi[o.id]">{{o.text}}</label>
			</div>
		</div>
		
		<!-- Drop-Down -->
		<div ng-if="q.type == 3">
			<select ng-required="!q.optional" ng-options="o.id as o.text for o in q.optionen | orderBy: 'orderIndex'" ng-model="participant[q.id]">
			<option></option>
			</select>
		</div>
		
		<!-- Textfeld -->
		<div ng-if="q.type == 4">
			<input ng-required="!q.optional" type="text" ng-model="participant[q.id]">
		</div>

	</div>
</div>

<div ng-show="status==2">
Daten abschicken oder zur&uuml;ck zum Bearbeiten.
</div>

<div ng-show="status==3">
Danke f&uuml;r die Teilnahme.
</div>
		
		<input type="email" ng-model="participant.mail" required> 
	

	
			<div id="buttons">

			<div class="question-button">
				<input ng-show="status==0" value="UMFRAGE STARTEN" ng-click="action='start';" type="submit" 
					class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					
						
					
					<input value="Zur&uuml;ck" type="submit" ng-show="status>=1 && page > 0" ng-click="action='BWD'" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					<input value="Weiter" type="submit" ng-show="status==1 && page < maxPages" ng-click="action='FWD'" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					<input value="Daten abschicken" type="submit" ng-show="status==2" ng-click="action='SEND'" class="button-color mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					
			</div>
		</div>
		


</form>