<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Happy Survey</title>
</head>
<body>
<div th:if="${param.error}">
    Es ist etwas schief gelaufen. Bitte probieren Sie es nochmal.
</div>
<div th:if="${param.logout}">
    Sie sind jetzt ausgeloggt.
</div>
<div id="log-in_container" class="container"
		ng-controller="HSLoginController">		
		
	
<form class="form-horizontal" ng-submit="login();" name="logInForm" th:action="@{/signin}" method="post">
		
			<fieldset>

				<!-- Form Name -->
				<legend>Sign In</legend>



<!-- form th:action="@{/login}" method="post"-->
	<div class="form-group">
					<label class="col-md-4 control-label" for="Email">Email</label>
					<div class="col-md-4">
						<input id="email" name="username" type="email" 
							placeholder="example@email.com" class="form-control input-md"
							ng-model="email" ng-blur="upper();"/>

					</div>
				</div>

				<!-- Password input-->
				<div class="form-group">
					<label class="col-md-4 control-label" for="passwordinput">Password
					</label>
					<div class="col-md-4">
						<input id="passwordinput" name="password" type="password"
							 placeholder="***" class="form-control input-md"
							ng-model="password"/>
					</div>
				</div>
				

				<!-- Button -->
				<div class="form-group">
					<label class="col-md-4 control-label" for="signin"></label>
					<div class="col-md-4">
						<button id="signin" name="signin" class="btn btn-primary">Sign
							In</button>
					</div>
				</div>
    
	</fieldset>
		</form>
	</div>
</body>
</html>