body{
	background-color: white;
}

header{
	border-bottom: solid;
	border-color:darkgray;
	border-width: thin;
}

#header-logo{
	display:block;
	margin: auto;
	width:6%;
}

.button-color{
	color:white !important;
}

/* login template*/

#login{
	display:flex;
	justify-content:center;
	margin-top: 5%;
}

/* overview admin template*/

#logout{
	display: flex;
	justify-content: flex-end;
}

.btn-group{
	margin:2%;
}

.btn-btn-group{
	display:flex; 
	justify-content:center; 
}

div.btn-btn-group input{
	margin-top: 30px;
	margin-bottom:10px;
}

.overviewTable{
	width: 100%;
	margin-bottom: 1%;
}

/* new survey template */

.button-container{
	display:flex;
	justify-content:center;
}

.button-position{
	display: flex;
	align-items: center;
}

/* overview questions template */

#buttons{
	display: flex;
	justify-content: center;
	margin-top: 2%;
}

.question-button{
	margin:1%;
}

/**/

.form-error-message {
	margin-top: 8px;
	padding: 8px;
	color: white;
	background-color: red;
}

#greeting {
	display:flex;
	justify-content:center;
	margin-top: 50px;
}

#surveyDescription {
	margin: 16px;
}

#questionTypeLabel {
	margin: 0px;
	padding: 0px;
}

#optionalQuestion {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0px;
}

#newQuestion {
	display:flex;
	justify-content:center;
	margin-top: 5%;
}

.typeSpecificAttributesContainer {
	
	display: none;
}

.right-floating {
	position: absolute;
	right: 0px;
}

.mdl-button .material-icons {
	vertical-align: middle; 
}

#saveQuestion {
	display: inline;
	margin-top: 16px;
}

#preview {
	margin-top: 16px;
	margin-left: 32px;
}


