body{
	background-color: white;
}

header{
	border-bottom: solid;
	border-color:darkgray;
	border-width: thin;
}

#header-logo{
	display:block;
	margin: auto;
	width:6%;
}

/* login template*/

#login{
	display:flex;
	justify-content:center;
	margin-top: 5%;
}

/* overview admin template*/

#logout{
	display: flex;
	justify-content: flex-end;
}

#btn1{
	display: flex;
	flex-direction: column;
	margin-top: 5%;
	margin-bottom: 5%;
}

#table{
	width: 100%;
	margin-bottom: 10%;
}

/**/

.form-error-message {
	margin-top: 8px;
	padding: 8px;
	color: white;
	background-color: red;
}

#greeting {
	display:flex;
	justify-content:center;
	margin-top: 50px;
}

#surveyDescription {
	margin: 16px;
}

#questionTypeLabel {
	margin: 0px;
	padding: 0px;
}

#optionalQuestion {
	margin-top: 8px;
	margin-bottom: 8px;
	padding: 0px;
}

#newQuestion {
	display:flex;
	justify-content:center;
	margin-top: 5%;
}

.typeSpecificAttributesContainer {
	
	display: none;
}

.right-floating {
	position: absolute;
	right: 0px;
}



