<!DOCTYPE html>
<html lang="de" data-ng-app="happySurvey">

	<head>
		<title>Happy Survey</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/angular-route.min.js"></script>
		
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
		<script type="text/javascript" src="assets/lib/angular/ng-breadcrumbs.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-touch.js"></script>
		
		
	    <script src="app/app.js"></script>
		<script type="text/javascript" src="app/controllers/admin/loginController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/surveyController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/overviewAdminController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/newQuestionController.js"></script>
		<script type="text/javascript" src="app/controllers/participant/surveyConductController.js"></script>
		<script type="text/javascript" src="app/controllers/participant/surveyIntroController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/overviewQuestionsController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/overviewGroupsController.js"></script>
		<script type="text/javascript" src="app/controllers/admin/MainCtrl.js"></script>
		
		
		<!-- Material Design Lite -->
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.green-light_green.min.css" />
		<link href="assets/lib/material-design-icons-2.0/sprites/css-sprite/sprite-content-black.css" rel="stylesheet">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
		
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
		<link href="assets/css/style.css" rel="stylesheet" type="text/css" />

	</head>

	<body ng-controller="MainCtrl">
			
		<header role="banner">
			<div class="mdl-grid">
			
				<div class="mdl-cell mdl-cell--2-col">
					<ol class="ab-nav breadcrumb">
					    <li ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path" ng-class="{ active: $last }">
					      <a ng-if="!$last" ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label" class="margin-right-xs"></a>
					      <span ng-if="$last" ng-bind="breadcrumb.label"></span>
					    </li>
				    </ol>
			    </div>
				
				<div class="mdl-cell mdl-cell--8-col">
					<img id="header-logo" src="assets/img/Logo.png">
				</div>
				
				<div class="mdl-cell mdl-cell--2-col" id="logout">
					<a ng-href ="#/login" class="mdl-button mdl-js-button mdl-button--icon" style="margin-right:5%;">
						<i class="material-icons">exit_to_app</i>
					</a>
				</div>
				
			</div>
		</header>
	
		<main ng-view></main>
		
	
	</body>
</html>
