<div id="nav-btn">
	<ol class="ab-nav breadcrumb">
		<li
			ng-repeat="breadcrumb in breadcrumbs.get() track by breadcrumb.path"
			ng-class="{ active: $last }"><a ng-if="!$last"
			ng-href="#{{ breadcrumb.path }}" ng-bind="breadcrumb.label"
			class="margin-right-xs"></a> <span ng-if="$last"
			ng-bind="breadcrumb.label"></span></li>
	</ol>
	<a ng-href="#/login" class="mdl-button mdl-js-button mdl-button--icon"
		id="logout"> <i class="material-icons">exit_to_app</i>
	</a>

</div>
<div class="back-btn">
	<a ng-href="#/admin/{{gruppe.id}}/questions"
		class="mdl-button mdl-js-button mdl-button--fab"> <i
		class="material-icons">arrow_back</i>
	</a>
</div>
<div class="mdl-grid" id="newQuestion">
	<div
		class="mdl-cell mdl-cell--6-col  mdl-grid mdl-card mdl-shadow--6dp mdl-card__supporting-text">
		<div id="generalQuestionAttributes" class="mdl-cell mdl-cell--6-col">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h4 class="mdl-card__title-text">Allgemeine Attribute</h4>
			</div>
			<form name="newQuestionForm">

				<div class="mdl-textfield mdl-js-textfield">
					<input ng-model="frage.text" class="mdl-textfield__input"
						type="text" id="fragestellung" placeholder="Fragestellung"
						required>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input ng-model="frage.info" type="text"
						class="mdl-textfield__input" id="description"
						placeholder="erweiterte Beschreibung" required>
				</div>

				<div class="mdl-selectfield mdl-js-selectfield">

					<div id="questionTypeLabel">
						<label class="mdl-selectfield__label" for="questionType">Fragetyp
							auswählen</label>
					</div>
					<select class="mdl-selectfield__select mdl-cell--8-col"
						id="questionType" name="questionType" ng-model="frage.type"
						ng-change="onQuestionTypeChanged()">
						<option value=""></option>
						<!-- 						<option value="linearScale">Lineare Skala</option>
						<option value="multipleChoice">Multiple-Choice</option>
						<option value="dropDown">Drop-Down</option>
						<option value="textField">Textfeld</option>
 -->
						<option value="1">Lineare Skala</option>
						<option value="2">Multiple-Choice</option>
						<option value="3">Drop-Down</option>
						<option value="4">Textfeld</option>

					</select>
				</div>

				<div id="optionalQuestion">
					<div>Optionale Frage</div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
						for="switch-1" ng-class="frage.optional ? 'is-checked' : ''">
						<input type="checkbox" id="switch-1" class="mdl-switch__input"
						ng-model="frage.optional">
					</label>
				</div>
				<div
					class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">

					<div id="questionTypeLabel">
						<label class="mdl-selectfield__label" for="questionType">Fragegruppe
							auswählen</label>
					</div>
					<select class="mdl-selectfield__select mdl-cell--8-col"
						id="questionType" name="questionType" ng-model="groupIndex">
						<option ng-repeat="gruppe in gruppen" value="{{gruppe.id}}">{{gruppe.name}}</option>
					</select>
				</div>
				<div>
					<button
						class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
						id="saveQuestion" name="saveQuestion" ng-click="saveQuestion();">Speichern</button>
				</div>
			</form>
		</div>
		<div id="typeSpecificAttributes"
			class="mdl-cell mdl-cell--6-col typeSpecificAttributesContainer">
			<div class="mdl-card__title mdl-color--primary mdl-color-text--white">
				<h4 class="mdl-card__title-text">Typ-Spezifische Attribute</h4>
			</div>
			<form>
				<div id="linearScaleSpecificAttributesContainer"
					class="typeSpecificAttributesContainer">

					<div class="mdl-textfield mdl-js-textfield">
						<input ng-model="frage.optionen[0]" class="mdl-textfield__input"
							type="text" id="leftSideDescription" placeholder="Linke Seite"
							required>

					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input ng-model="frage.optionen[1]" class="mdl-textfield__input"
							type="text" id="rightSideDescription" placeholder="Rechte Seite"
							required>
					</div>
				</div>
				<div id="choiceAttributesContainer"
					class="typeSpecificAttributesContainer">

					<div id="choiceAttributesElementsContainer"
						ng-repeat="option in frage.optionen">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text"
								id="mca_option{{$index + 1}}"
								placeholder="Auswahl {{($index + 1)}}" ng-model="frage.optionen[$index]">

							<button
								class="mdl-button mdl-js-button mdl-button--icon right-floating"
								ng-click="removeOptionClicked(frage.optionen[$index])">
								<i class="material-icons">delete</i>
							</button>
						</div>

					</div>
					<button name="addOption" ng-click="addOptionClicked()"
						class="mdl-button mdl-button--fab mdl-button--primary">
						<i class="material-icons md-inverse">add</i>
					</button>

				</div>
				<div id="textFieldAttributesContainer"
					class="typeSpecificAttributesContainer"></div>
			</form>
		</div>

	</div>
</div>
