<div class="mdl-grid" id="newQuestion">
	<div
		class="mdl-cell mdl-cell--6-col  mdl-grid mdl-card mdl-shadow--2dp mdl-card__supporting-text">
		<div id="generalQuestionAttributes" class="mdl-cell mdl-cell--6-col">
			<h4>Allgemeine Attribute</h4>
			<form action="#" ng-submit="newQuestion();" name="newQuestionForm">

				<div class="mdl-textfield mdl-js-textfield">
					<input ng-model="frage.fragestellung" class="mdl-textfield__input"
						type="text" id="fragestellung" placeholder="Fragestellung"
						required>
				</div>
				<div class="mdl-textfield mdl-js-textfield">
					<input ng-model="description" type="text"
						class="mdl-textfield__input" id="description"
						placeholder="erweiterte Beschreibung" required>
				</div>

				<div class="mdl-selectfield mdl-js-selectfield">

					<div id="questionTypeLabel">
						<label class="mdl-selectfield__label" for="questionType">Fragetyp
							auswählen</label>
					</div>
					<select class="mdl-selectfield__select mdl-cell--8-col"
						id="questionType" name="questionType" ng-model="questionType"
						ng-change="onQuestionTypeChanged()">
						<option value=""></option>
						<option value="linearScale">Lineare Skala</option>
						<option value="multipleChoice">Multiple-Choice</option>
						<option value="dropDown">Drop-Down</option>
						<option value="textField">Textfeld</option>
					</select>
				</div>

				<div id="optionalQuestion">
					<div>Optionale Frage</div>
					<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
						for="switch-1"> <input type="checkbox" id="switch-1"
						class="mdl-switch__input" checked>
					</label>
				</div>
				<div
					class="mdl-selectfield mdl-js-selectfield mdl-selectfield--floating-label">

					<div id="questionTypeLabel">
						<label class="mdl-selectfield__label" for="questionType">Fragegruppe
							auswählen</label>
					</div>
					<select class="mdl-selectfield__select mdl-cell--8-col"
						id="questionType" name="questionType">
						<option value=""></option>
						<option value="option1">Sinn</option>
						<option value="option2">Glück</option>
						<option value="option3">Gemeinschaft</option>
					</select>
				</div>
				<div>
					<button
						class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
						id="saveQuestion" name="saveQuestion"
						ng-click="newQuestionClicked()">Speichern</button>
				</div>
			</form>
		</div>
		<div id="typeSpecificAttributes"
			class="mdl-cell mdl-cell--6-col typeSpecificAttributesContainer">
			<form>
				<h4>Typ-Spezifische Attribute</h4>
				<div id="linearScaleSpecificAttributesContainer"
					class="typeSpecificAttributesContainer">

					<div class="mdl-textfield mdl-js-textfield">
						<input ng-model="linke.Seite" class="mdl-textfield__input"
							type="text" id="leftSideDescription" placeholder="Linke Seite"
							required>

					</div>
					<div class="mdl-textfield mdl-js-textfield">
						<input ng-model="rechte.Seite" class="mdl-textfield__input"
							type="text" id="rightSideDescription" placeholder="Rechte Seite"
							required>
					</div>
				</div>
				<div id="choiceAttributesContainer"
					class="typeSpecificAttributesContainer">

					<div id="choiceAttributesElementsContainer"
						ng-repeat="option in options">
						<div class="mdl-textfield mdl-js-textfield">
							<input class="mdl-textfield__input" type="text"
								id="mca_option{{$index + 1}}" placeholder="Auswahl {{($index + 1)}}" value="{{option}}">
									
							<button
								class="mdl-button mdl-js-button mdl-button--icon right-floating"
								ng-click="$parent.removeOptionClicked('{{$option}}')">
								<i class="material-icons">delete</i>
							</button>
						</div>

					</div>
					<button name="addOption" ng-click="addOptionClicked()"
						class="mdl-button mdl-button--fab mdl-button--colored">
						<i class="material-icons">add</i>
					</button>

				</div>
				<div id="textFieldAttributesContainer"
					class="typeSpecificAttributesContainer"></div>
			</form>
		</div>

	</div>
</div>
