<div class="mdl-grid" style="display:block;">
	<div id="logout">
		<a ng-href ="#/login" class="mdl-button mdl-js-button mdl-button--icon" style="margin-right:5%;">
			<i class="material-icons">exit_to_app</i>
		</a>
	</div>
	<div class="mdl-cell mdl-cell--8-col" style="margin: auto;">
		<div id="btn-group">
			<div class="btn-btn-group">
				<a ng-href="#/newSurvey" class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					<i class="material-icons">add</i>
					Neue Umfrage
	        	</a>
        	</div>
        
        	<div class="btn-btn-group">
			    <a ng-href="" class="mdl-cell mdl-cell--4-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					<i class="material-icons">insert_chart</i>
					Auswertung erstellen
		        </a>
	        </div>
	        <div class="btn-btn-group">
     			<input ng-model="search" class="mdl-textfield__input" type="text" placeholder="Nach Umfrage suchen...">
		   </div>
		</div>
		
		<table id="overviewTable" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
		  <thead>
		    <tr>
		      <th class="mdl-data-table__cell--non-numeric">ID</th>
		      <th class="mdl-data-table__cell--non-numeric">Titel</th>
	    	  <th class="mdl-data-table__cell--non-numeric">Intro</th>
	    	  <th class="mdl-data-table__cell--non-numeric">Beschreibung</th>
		      <th class="mdl-data-table__cell--non-numeric">Start</th>
		      <th class="mdl-data-table__cell--non-numeric">Ende</th>
		      <th class="mdl-data-table__cell--non-numeric">Link</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr ng-repeat="survey in surveys | filter: search">
		      <td class="mdl-data-table__cell--non-numeric"><span type="text">{{survey.id}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type="text">{{survey.name}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type="text">{{survey.intro}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type="text">{{survey.beschr}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type="date">{{survey.startdat | date}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type="date">{{survey.enddat | date}}</span></td>
		      <td class="mdl-data-table__cell--non-numeric"><span type=""></span>{{}}</td>
		      <td>
		      	<div class="btn-group">
					<button ng-click="deleteSurvey(survey.id)" class="mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">delete</i>
					</button>
					<button ng-click="editSurvey(survey.id)" class="mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">create</i>
					</button>	
					<button class="mdl-button mdl-js-button mdl-button--icon">
					  <i class="material-icons">content_copy</i>
					</button>              
	            </div>
		      </td>
		    </tr>
		  </tbody>
		</table>
	
	</div>		
</div>
